<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
  <!--  
  <servlet>
    <servlet-name>greetServlet</servlet-name>
    <servlet-class>com.fordh.idd.ui.extension.server.GreetingServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>greetServlet</servlet-name>
    <url-pattern>/fordh_uiextensions/greet</url-pattern>
  </servlet-mapping>
  -->
  	<servlet>
		<servlet-name>MDMCustomExport</servlet-name>
		<servlet-class>com.fordh.idd.ui.extension.server.MDMCustomExportServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MDMCustomExport</servlet-name>
		<url-pattern>/hierarchyviewer/excel</url-pattern>
	</servlet-mapping>
	
  <servlet>
    <servlet-name>MDMCustomServlet</servlet-name>
    <servlet-class>com.fordh.idd.ui.extension.server.MDMCustomServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>MDMCustomServlet</servlet-name>
    <url-pattern>/hierarchyviewer/mdmcustomservice</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>Fordh_HierarchyViewer.html</welcome-file>
  </welcome-file-list>

</web-app>
